# JAVA #
*.class
*.jar
*.war
*.ear

# MAVEN #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDEA #
*.iml
.idea
*.ipr
*.iws

# ECLIPSE #
.classpath
.project
.settings

# GENERATED #
src/main/generated

# MQTT #
.lck

# LOCAL SETTINGS #
ci/local-settings.xml

# ENV FOR DOCKER-COMPOSE SECRETS #
.env

# MICROSTREAM | LOCAL
message-cache
*.dat
*.ptd
*.sft

# HTTP CLIENT PRIVATE ENVIRONMENT VARIABLES
*.env.json

# MAC_OS #
.DS_Store
