version: "3.7"
services:
  middleware:
    image: ghcr.io/agrirouter-middleware/agrirouter-middleware:latest
    environment:
      - MONGODB_HOST=${MONGO_HOST:-mongo}
      - MONGODB_PASSWORD=${MONGO_PASSWORD}
      - MONGODB_PORT=27017
      - MONGODB_SCHEMA=${MONGO_DATABASE:-agriroutermiddleware}
      - MONGODB_USER=${MONGO_USER:-agriroutermiddleware}
      - MYSQL_HOST=${MYSQL_HOST:-mysql}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_PORT=${MYSQL_PORT:-3306}
      - MYSQL_SCHEMA=${MYSQL_DATABASE:-agriroutermiddleware}
      - MYSQL_USER=${MYSQL_USER:-agriroutermiddleware}
      - MESSAGE_CACHE_DATA_DIRECTORY=${MESSAGE_CACHE_DATA_DIRECTORY:-/opt/application/data/message-cache}
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE:-default}
    ports:
      - "${BIND_ADDRESS:-127.0.0.1:8080}:8080"
    networks:
      - frontend
      - backend
    restart: unless-stopped

  mongo:
    image: mongo:5.0
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER:-mongoadmin}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_DATABASE:-agriroutermiddleware}
      - MONGO_INITDB_USER=${MONGO_USER:-agriroutermiddleware}
      - MONGO_INITDB_PWD=${MONGO_PASSWORD}
    volumes:
      - mongo_data:/data/db
      - ./mongo-init.sh:/docker-entrypoint-initdb.d/mongo-init.sh
    networks:
      - backend
    restart: unless-stopped

  mysql:
    image: mariadb:10.7
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE:-agriroutermiddleware}
      - MYSQL_USER=${MYSQL_USER:-agriroutermiddleware}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend
    restart: unless-stopped

networks:
  backend:
  frontend:

volumes:
  mongo_data: { }
  mysql_data: { }
