spring:
  datasource:
    url: jdbc:mariadb://${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_SCHEMA}?useUnicode=true&characterEncoding=UTF-8${MYSQL_ADDITIONAL_OPTIONS}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
  data:
    mongodb:
      host: ${MONGODB_HOST}
      port: ${MONGODB_PORT}
      database: ${MONGODB_SCHEMA}
      username: ${MONGODB_USER}
      password: ${MONGODB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    database: default
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
    open-in-view: true

  flyway:
    baseline-on-migrate: true
    enabled: true
    locations: classpath:flyway/migrations/mariadb/all-versions,classpath:flyway/migrations/mariadb/gt-10.5

  task:
    scheduling:
      pool:
        size: 5

management:
  endpoints:
    web:
      exposure:
        include: info,health,metrics,prometheus,hikaricp,jdbc

logging:
  level:
    # Ensure that the initial tenant information is logged.
    de.agrirouter.middleware.business.TenantService: info
    # Ensure that the MQTT statistics are logged.
    de.agrirouter.middleware.integration.mqtt.MqttStatistics: info

app:
  version: '@project.version@'
  build: '@maven.build.timestamp@'
  agrirouter:
    status:
      url: https://status.agrirouter.com/api/v2/components.json
    mqtt:
      synchronous:
        health:
          response:
            wait:
              time: 1500
        response:
          wait:
            time: 3000
          polling:
            intervall: 100
  fetch-messages:
    max-tries: 5
    interval: 1000
  scheduled:
    fetching-and-confirming-existing-messages: "0 */15 * * * *"
    sleep-time-between-queries-seconds: 3
    random-delay-minutes: 240
    empty-message-cache: "0 */30 * * * *"
    message-waiting-for-ack-removal: "0 0 0 * * *"
    statuspage-check-interval: "*/30 * * * * *"
    log-mqtt-statistics: "*/30 * * * * *"
  branding:
    favicon: "/img/favicon.ico"
  cache:
    message-cache:
      batch-size: 50
      batch-sleep-time-seconds: 5
      data-directory: ${MESSAGE_CACHE_DATA_DIRECTORY}
    transient-machine-registration-cache:
      time-to-live-in-seconds: 300
  subscriptions:
    ddi:
      range:
        start: 0
        end: 675
  signature-verification:
    disable: false