<!DOCTYPE HTML>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title},~{::main})}" lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title th:text="#{home.title}"></title>
</head>
<body>
<main class="mdl-layout__content">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-typography--text-center"><img class="partner-logo"
                                                                               th:src="@{/img/home/agrirouter.svg}"/>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-typography--text-center"><img class="partner-logo"
                                                                               th:src="@{/img/home/holmer.png}"/></div>
        <div class="mdl-cell mdl-cell--6-col mdl-typography--text-center"><img class="partner-logo"
                                                                               th:src="@{/img/home/krone.png}"/></div>
        <div class="mdl-cell mdl-cell--6-col mdl-typography--text-center"><img class="partner-logo"
                                                                               th:src="@{/img/home/lmis.svg}"/></div>
    </div>
</main>
</body>
</html>