<!DOCTYPE HTML>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout-without-menu :: layout(~{::title},~{::main})}"
      lang="en">
<head>
    <title th:text="#{landing_page.title}"></title>
</head>
<body>
<main class="page page--landing">
    <div class="mdl-grid page-grid page-grid--landing">
        <div class="mdl-cell mdl-cell--4-col">
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
            <img th:src="@{/img/landing_page/loading.gif}"/>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
        </div>

        <div class="mdl-cell mdl-cell--4-col">
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center" th:text="#{landing_page.loading}">
        </div>
        <div class="mdl-cell mdl-cell--4-col">
        </div>

    </div>
    <script th:inline="javascript">
        setTimeout(function () {
            var redirectUrl = /*[[${redirectUrl}]]*/ '';
            var state = /*[[${state}]]*/ '' || '';
            var token = /*[[${token}]]*/ '' || '';
            var signature = /*[[${signature}]]*/ '' || '';
            var error = /*[[${error}]]*/ '' || '';
            window.location.href = redirectUrl + '?state=' + state +
                '&token=' + token +
                '&signature=' + signature +
                '&error=' + error;
        }, /*[[${redirectDelay}]]*/ 0);
    </script>
</main>
</body>
</html>