name: Deploy Swagger UI to GitHub Pages

on:
  push:
    branches:
      - "main"

jobs:
  deploy-to-github-pages:
    name: Deploy to GitHub pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Swagger UI
        uses: Legion2/swagger-ui-action@v1
        with:
          output: swagger-ui
          spec-file: swagger/openapi.json

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: swagger-ui